//- layout.pug
html
    head
        title Scanner
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        script(src='/js/jquery-2.2.4.min.js')
        script(src='/js/bootstrap.min.js')
        link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
    body
        block content
