<nz-layout class="full-container">
	<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
		<ul nz-menu nzTheme="dark" nzMode="inline">
				<li nz-submenu nzTitle="扫描" nzIcon="user">
				<ul>
					<li nz-menu-item>域名</li>
					<li nz-menu-item>目录</li>
				</ul>
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header>
          <span
	          class="trigger"
	          nz-icon
	          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
	          (click)="isCollapsed = !isCollapsed"
          ></span>
		</nz-header>
		<nz-content>
			<nz-breadcrumb>
				<nz-breadcrumb-item>User</nz-breadcrumb-item>
				<nz-breadcrumb-item>Bill</nz-breadcrumb-item>
			</nz-breadcrumb>
			<div class="inner-content">Bill is a cat.</div>
		</nz-content>
	</nz-layout>
</nz-layout>
